:root {
--primary-color: #faf9f6; 
--secondary-color: #0a9396;
--accent1-color: #ee9b00; 
--accent2-color: #00008b; 
--heading-font: "Montserrat", sans-serif;
--body-font: "Roboto", sans-serif;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: var(--body-font);
color: var(--accent1-color);
}

header, main, footer {
width: 840px;
margin: 0 auto;
}

h1, h2 {
font-family: var(--heading-font);
color: var(--secondary-color);
}

nav, p, section, article {
margin: 16px;
padding: 8px;
}

.socialmedia a {
text-decoration: none;
}

.hero {
position: relative;
}

.hero img {
display: block;
width: 100%;
height: auto;
}


h1 {
position: absolute;
top: 20px;
width: 100%;
padding: 16px;
text-align: center;
opacity: 0.7;
background-color: var(--accent1-color);
color: #fff;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 8px;
}
.hero article {
  position: absolute;
  top: 80px;     
  left: 20px;
  background-color: #00008b;
  color: #fff;
  padding: 12px;
}

header {
background-color: #892b64;
color: var(--accent2-color);
overflow: hidden;
}

.header-container {
display: grid;
grid-template-columns: 1fr 3fr;
align-items: center;
padding: 1rem;
background-color: #0c4a6e;
color: white;
}

.logo {
max-width: 100px;
}

ul {
display: flex;
justify-content: flex-end;
gap: 1rem;
list-style: none;
padding: 0;
margin-right: 5rem;
}

nav ul.navlinks li a {
color: white;
text-decoration: none;
font-weight: bold;
border: 1px solid white;
border-radius: 8px;
padding: 10px 20px;
}

.history {
 padding: 2rem;
  max-width: 900px;     
  margin: 0 auto;
  color: #F7941D;
  font-family: Arial, sans-serif;
}

.history h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.history_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: stretch;
}

.history-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  height: 100%;
}

.history-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 5px black;
}


.adventure {
  text-align: center;
  padding: 2em;
}

.adventure-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2em;
}

.footer-content{
  padding: 1px;
  border-top: 1px solid black;
}

.social-link{
  display: flex;
  gap: 2rem;
}

.social-link p{
  padding-left: 6rem;
}

.social-link nav{
  padding-left: 7rem;
}

.adventure-contents img {
  width: 100%;
}

.contact{
  
  padding: 1rem;
  text-align: center;
}

section {

  padding: 2em;
}

.contact-input {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 20px;
  max-width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 2rem auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group.radio p {
  margin-bottom: 5px;
  font-weight: bold;
  display:flex;
  
}

.form-group.radio label,
.form-group.checkbox label {
  display:inline-block;
  margin-bottom: 5px;
  font-weight: normal;

}

.form-group textarea {
  height: 120px;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  width: 350px;
}

.msg {
  display: flex;
  text-align: left;
  margin-top: 2rem;
}

.form-group input,
.form-group textarea {
  padding: .4rem;
  margin: .3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-group textarea {
  width: 350px;
  margin: 0;
}

.radio {
  border: 1px solid #ccc;
}

.employee h2 {
  text-align: center;
}